<a href="/targets/landing" target="_blank">Here is our target.</a>

<hr>

<!-- Carousel -->
<div>
  <img src="/images/01.jpeg">

  <h1>Example headline.</h1>
  <p>Some representative placeholder content for the first slide of the
    carousel.</p>
  <p><a href="#">Sign up today</a></p>
</div>

<div>
  <img src="/images/02.jpeg">

  <h1>Another example headline.</h1>
  <p>Some representative placeholder content for the second slide of the
    carousel.</p>
  <p><a href="#">Learn more</a></p>
</div>

<div>
  <img src="/images/03.jpeg">

  <h1>One more for good measure.</h1>
  <p>Some representative placeholder content for the third slide of this
    carousel.</p>
  <p><a href="#">Browse gallery</a></p>
</div>

<!-- End carousel -->

<!-- Testimonials -->
<div>
  <img src="/images/04.jpeg">
  <div>
    <h5>Testimonial 1</h5>
    <p>Some representative placeholder content for the three columns of text below the
      carousel. This is the first column.</p>
    <a href="#">Go somewhere</a>
  </div>
</div>

<div>
  <img src="/images/05.jpeg">
  <div>
    <h5>Testimonial 2</h5>
    <p>Another exciting bit of representative placeholder content. This time, we've moved on
      to the second column.</p>
    <a href="#">Go somewhere</a>
  </div>
</div>

<div>
  <img src="/images/06.jpeg">
  <div>
    <h5>Testimonial 3</h5>
    <p>And lastly this, the third column of representative placeholder content. Notice that
      the height of each card is determined by content, so they can be different heights. If you want to force
      cards to be the same size, consider using a <a
                href="https://getbootstrap.com/docs/5.2/components/card/#card-groups" target="_blank">card group</a>.
    </p>
    <a href="#">Go somewhere</a>
  </div>
</div>
<!-- End testimonials -->

<!-- Featurettes -->
<div>
  <div>
    <h2>First featurette heading. <span>It’ll blow your
        mind.</span></h2>
    <p>Some great placeholder content for the first featurette here. Imagine some exciting prose here.
      This column occupies 7 out of 12 columns. The image occupies 5 out of 12 columns.
    </p>
  </div>
  <div>
    <img src="/images/07.jpeg">
  </div>
</div>

<div>
  <div>
    <h2>Oh yeah, it’s that good. <span>See for
        yourself.</span></h2>
    <p>Another featurette? Of course. More placeholder content here to give you an idea of how this
      layout would work with some actual real-world content in place. This column occupies 7 out of 12 columns. The
      image occupies 5 out of 12 columns.</p>
  </div>
  <div>
    <img src="/images/08.jpeg">
  </div>
</div>

<div>
  <div>
    <h2>And lastly, this one. <span>Checkmate.</span></h2>
    <p>And yes, this is the last block of representative placeholder content. Again, not really
      intended to be actually read, simply here to give you a better view of what this would look like with some
      actual content. Your content.</p>
  </div>
  <div>
    <img src="/images/09.jpeg">

  </div>
</div>

<!-- End featurettes -->

<footer>
  <div>
    <i class="fa-brands fa-firstdraft"></i>
    <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
  </div>
  <div>
    <h5>Features</h5>
    <ul class="list-unstyled text-small">
      <li><a href="#">Cool stuff</a></li>
      <li><a href="#">Random feature</a></li>
      <li><a href="#">Team feature</a></li>
      <li><a href="#">Stuff for developers</a></li>
      <li><a href="#">Another one</a></li>
      <li><a href="#">Last time</a></li>
    </ul>
  </div>
  <div>
    <h5>Resources</h5>
    <ul class="list-unstyled text-small">
      <li><a href="#">Resource</a></li>
      <li><a href="#">Resource name</a></li>
      <li><a href="#">Another resource</a></li>
      <li><a href="#">Final resource</a></li>
    </ul>
  </div>
  <div>
    <h5>About</h5>
    <ul class="list-unstyled text-small">
      <li><a href="#">Team</a></li>
      <li><a href="#">Locations</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="#">Terms</a></li>
    </ul>
  </div>
</div>
</footer>

</body>

</html>
